.document-tree {

    .node-label {
        padding-bottom: 10px;
    }

    .doc-node-button {
        background: none;
        border: none;
        padding: 10px;
        width: 100%;
        text-align: left;
        cursor: pointer;
        color: $text-primary;
        border-radius: 4px 0px 0px 4px;

        &:not(.selected):hover {
            background-color: $accent-light;
            border-left: 4px solid $accent;
        }

        &.selected {
            background-color: $accent;
            color: white;
        }
    }
}



.pdf-viewer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $bg-body;
    height: 100%;
    overflow: auto;

    .pdf-scroll {
        flex: 1;
        overflow-y: auto;
    }
}

.pdf-placeholder {
    color: $text-secondary;
    font-size: 0.9rem;
}