.footer {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $spacing-xs $spacing-xs;
    border-top: 1px solid $color-border;

    .footer-text {
        font-size: 0.8rem;
        color: $color-text-muted;
        margin: 0;
    }
}