.navbar {
    padding: 0 $spacing-md;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .navbar-greeting {
        font-size: 0.9rem;
        color: $color-text-secondary;
        font-weight: 500;
    }
}
