.dashboard-grid {
    display: grid;
    grid-template-columns: 20% 80%;
    height: inherit;
    overflow: hidden;

    .main-area {
        display: grid;
        grid-template-rows: 48px auto;
        height: 100%;

        .content-grid {
            display: grid;
            grid-template-columns: 45% 55%;
            height: 100%;

            .theory-panel {
                border-right: 1px solid #ddd;
                overflow: auto;
            }

            .documents-panel {
                overflow: auto;

                .documents-grid {
                    display: grid;
                    grid-template-columns: 30% 70%;
                    height: 100%;

                    .document-list {
                        overflow: auto;
                        border-right: 1px solid #ddd;
                    }

                    .pdf-viewer {
                        overflow: auto;
                    }
                }
            }
        }
    }
}